### Read csv

In [10]:
import pandas as pd

data = pd.read_csv('data1/employees.csv', sep=';')
data.columns
data.head()

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,commission_pct,manager_id,department_id
0,108,Nancy,Greenberg,NGREENBE,515.124.4569,1994-08-17 00:00:00,FI_MGR,12000.0,NaN,101.0,100
1,109,Daniel,Faviet,DFAVIET,515.124.4169,1994-08-16 00:00:00,FI_ACCOUNT,9000.0,NaN,108.0,100
2,110,John,Chen,JCHEN,515.124.4269,1997-09-28 00:00:00,FI_ACCOUNT,8200.0,NaN,108.0,100
3,111,Ismael,Sciarra,ISCIARRA,515.124.4369,1997-09-30 00:00:00,FI_ACCOUNT,7700.0,NaN,108.0,100
4,112,Jose Manuel,Urman,JMURMAN,515.124.4469,1998-03-07 00:00:00,FI_ACCOUNT,7800.0,NaN,108.0,100

### Find length of VARCHAR attributes

In [14]:
maxLenFirstName = 0
maxLenLastName = 0
maxLenPhoneNumber = 0
maxLenJobId = 0
for row in data.values:
  maxLenFirstName=max(maxLenFirstName,len(row[1]))
  maxLenLastName=max(maxLenLastName,len(row[2]))
  maxLenPhoneNumber=max(maxLenPhoneNumber,len(row[4]))
  maxLenJobId=max(maxLenJobId,len(row[6]))
print(maxLenFirstName, maxLenLastName, maxLenPhoneNumber, maxLenJobId)

11 11 18 10

### Set of values for partition column

In [13]:
data['department_id'].drop_duplicates()

0     100
6      50
31     80
Name: department_id, dtype: int64